:root {
    --custom-font: "JetBrains Mono", monospace;
    --custom-fSize: 1.2rem;
    --custom-weight: 300;
    --custom-color: #1f1f1f;
    --custom-fColor : white;
    --custom-accent: #77767b4d;
}

*, button, p {
    font-family: var(--custom-font);
    font-size: var(--custom-fSize);
    font-weight: var(--custom-weight);
    color: var(--custom-fColor);
}

#textBox b, #textBox strong {
    font-weight: bold !important;
}

.userInput {
    color: var(--custom-fColor);
    caret-color: var(--custom-accent);
    margin-right: 6px;
    margin-left: 6px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-x: hidden;
    display: block;
    width: 100%;
    height: auto;
    min-height: 1.5em;
    background: none;
    border: none;
}
.userInput:focus {
    outline: none;
}
.userInput:empty::before {
    content: attr(placeholder);
    color: var(--custom-fColor);
    pointer-events: none;
    display: block;
    opacity: 25%;
}

body {
    background-color: var(--custom-color);
    margin: 0;
    padding: 0;
}

.textCont {
    margin-top: 6px;
}

.textPrompt {
    display: flex;
    flex-direction: row;
}
.textPrompt span {
    color: var(--custom-fColor);
    margin-left: 4px;
}

.indicators {
    position: fixed;
    display: flex;
    flex: content;
    flex-direction: row;
    gap: 6px;
    padding: 6px;
    bottom: 0;
    right: 0;
    opacity: 0.6 !important;
    z-index: 999 !important;
}

.indicator {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    margin: 3px 0;
    transition: opacity 0.3s ease-in-out, max-width 0.3s ease-in-out, visibility 0.3s ease-in-out, margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}
.indicator.visible {
    visibility: visible;
    opacity: 1;
    max-width: 150px;
    background-color: var(--custom-accent);
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

.bold {
    font-weight: bold !important;
    font-size: calc(var(--custom-fSize) / 1.5) !important;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.underline {
    text-decoration: underline !important;
    font-size: calc(var(--custom-fSize) / 1.5) !important;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.italic {
    font-style: italic;
    font-size: calc(var(--custom-fSize) / 1.5) !important;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
/* #boldIndicator {
    font-weight: bold !important;
    font-size: calc(var(--custom-fSize) / 1.5) !important;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

#underlineIndicator {
    text-decoration: underline !important;
    font-size: calc(var(--custom-fSize) / 1.5) !important;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

#italicIndicator {
    font-style: italic;
    font-size: calc(var(--custom-fSize) / 1.5) !important;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
} */

#escUn {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition:  0.2s ease-in-out;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
#escUn.visible {
    opacity: 1;
    visibility: visible;
}

.escCont {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
    width: 100%;
}

.escBg {
    position: fixed;
    background-color: var(--custom-accent);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.4px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.escMenu {
    position: relative;
    color: var(--custom-fColor);
    opacity: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--custom-color);
    padding: 10px;
    z-index: 2 !important;
    border-radius: 0.6rem;
}

.uBtn {
    color: var(--custom-fColor);
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.uBtn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: var(--custom-fColor);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease !important;
}
.uBtn:hover {
    color: var(--custom-fColor);
}
.uBtn:hover::after {
    transform: scaleX(1);
}
.uBtn:focus {
    outline: none;
}
.uBtn:active {
    transform: scale(0.95);
}

#colPick {
    align-items: center;
}

#fontCont {
    position: absolute;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition:  0.2s ease-in-out;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    left: 100%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: var(--custom-color); 
    border-radius: 0.6rem;
    top: -50%;
    margin-left: 15rem;
}
#fontCont.visible {
    opacity: 1;
    visibility: visible;
}

#fontLink { 
    outline: none;
    background: none;
    border: none;
    color: var(--custom-fColor);
    padding-left: 0;
}

#fontBtn {
    padding-left: 0;
}

#fileUp {
    align-items: center;
    padding-left: 0;
    margin-left: 0;
} 

.fSize, #sizeValue, .fWeight, #weightValue, .fInfo,
.mainC, .textC, .accentC {
    user-select: none;
}

.sizeSlider {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease-in-out;
    height: 4px;
    margin-top: 8px;
    cursor: pointer;
    accent-color: var(--custom-accent);
}
.sizeSlider:hover {
    opacity: 1;
}
.sizeSlider:focus {
    outline: none;
}

.sliderWeight {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease-in-out;
    height: 4px;
    margin-top: 8px;
    cursor: pointer;
    accent-color: var(--custom-accent) !important;
}
.sliderWeight:hover {
    opacity: 1;
}
.sliderWeight:focus {
    outline: none;
}

.fInfo {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}

.toggleSpell {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.spellCheck {
    padding-right: 5em;
    margin-top: 0;
    margin-bottom: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--custom-accent);
    transition: 0.2s ease-in-out;
    border-radius: 34px;
}
.slider:focus {
    outline: none;
}
.slider::before {
    position: absolute;
    content: "✖️";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--custom-fColor);
    transition: 0.2s ease-in-out;
    border-radius: 34px;
}

input[type=checkbox]:checked + .slider {
    background-color: var(--custom-accent);
}
input[type=checkbox]:checked + .slider::before {
    transform: translateX(26px);
    content: "✔️";
}
input[type=checkbox]:focus + .slider {
    box-shadow: 0 0 2px var(--custom-accent);
}

#colorCont {
    position: absolute;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition:  0.2s ease-in-out;
    justify-content: center;
    flex-direction: column;
    left: 100%;
    transform: translateX(-50%);
    padding: 16px;
    background-color: var(--custom-color); 
    border-radius: 0.6rem;
    min-width: 290px;
    top: -50%;
    margin-left: 15rem;
}
#colorCont.visible {
    opacity: 1;
    visibility: visible;
}

.cBRow {
    display: flex;
    width: 100%;
    gap: 12px;
    margin-bottom: 10px;
}

.cBtn {
    text-decoration: none;
    background: none;
    user-select: none;
    cursor: pointer;
    border: none;
    width: 50%;
    aspect-ratio: 3/1;
    border-radius: 0.3rem;
    margin: 2px;
}
.cBtn:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.cBtn:hover::after {
    transform: scale(1);
}
.cBtn:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}
.cBtn:focus {
    outline: none;
}

#light {
    background-color: white;
    /* border: 1px solid black !important; */
    border: 4px solid var(--custom-accent);
}
#dark {
    background-color: black;
    /* border: 1px solid white !important; */
    border: 4px solid var(--custom-accent);
}

.mainC, .textC, .accentC, #mainbg, #textColor,
#accentColor, #mainCol, #textCol, #accentCol,
#sizeValue, #weightValue {
    margin: 0;
    padding: 0;
}

.cRow input[type="color"] {
    appearance: none;
    border: 2px solid var(--custom-accent);
    border-radius: 6px;
}

.colorpick-eyedropper-input-trigger {
    display: none !important;
}

.textRow {
    display: flex;
    align-items: center;
    gap: 6px;
}

.textRow p {
    margin: 0;
}

.accentOpacity {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s ease-in-out;
    height: 4px;
    margin-top: 8px;
    cursor: pointer;
    accent-color: var(--custom-accent) !important;
}
.accentOpacity:hover {
    opacity: 1;
}
.accentOpacity:focus {
    outline: none;
}

#mainbg:focus, #textColor:focus, #accentColor:focus {
    outline: none;
}